<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbatch.mapper.SaleMapper">
    <insert id="saveSale" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sale (no) VALUES (#{no});
    </insert>
    <insert id="saveSaleDetail" >
        INSERT INTO sale_detail (sale_id) VALUES (#{saleId});
    </insert>
</mapper>
